.paginacion{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.atras{
    background-color: red;
    color: aliceblue;
    border-radius: 10px;
}

.adelante{
    background-color: rgb(155, 253, 7);
    color: aliceblue;
    border-radius: 10px;
}

.titulo-articulo
{
    font-size: 18px;
    font-weight: bold;
}

.fecha-articulo
{
    font-size: 16px;
    font-style: italic;
}

.numero-paginas
{
    font-size: 20px;
    font-weight: bold;
    margin: 0 20px;
}